.shoppingCart-null-levelOne {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.shoppingCart-null-image-superior {
  display: flex;
  margin-top: 18vh;
  margin-bottom: 1.5vh;
}

.shoppingCart-null-image {
  height: 35vw;
  width: 35vw;
  margin: 0 auto;
}

.shoppingCart-null-textOne {
  display: flex;
  justify-content: center;
  color: var(--ShoppingCard-null-font-h1-color);
}

.shoppingCart-null-textTwo {
  display: flex;
  justify-content: center;
  margin-top: 1.2vh;
  margin-bottom: 1.5vh;
  font-size: var(--text-h1);
  color: var(--ShoppingCard-null-font-h2-color);
}

.shoppingCart-null-button {
  width: 30vw;
}
