#order-state {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow--l1);
  border-radius: var(---radius--min);
  margin: 2vw;
  width: 96vw;
  height: 18vh;
  color: var(--color--background);
  font-size: var(--text-h1);
}

.order-state--green {
  background-color: var(--state--succeed);
}

.order-state--red {
  background-color: var(--color--main);
}

.card {
  box-shadow: var(--box-shadow--l1);
  border-radius: var(--radius--min);
  background-color: var(--color--background);
  margin-left: 2vw;
  margin-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 96vw;
}

.waybill-info {
  display: flex;
  flex-flow: column;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.waybill-info_item {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 4vw;
  padding-left: 4vw;
  font-size: var(--text-p);
}

.timeline-card {
  margin-bottom: 2vh;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-item_circle {
  width: 3.2vw;
  height: 3.2vw;
  border-radius: 100%;
  background-color: var(--color--main);
}
