.shoppingCart-top-levelOne {
  z-index: var(--shoppingCard-top-z-index);
  position: sticky;
  top: 0px;
}

.shoppingCart-top-leveltwo {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: var(--shoppingCard-top-height);
  box-shadow: var(--shoppingCard-top-box-shadow);
  border-bottom-right-radius: var(--shoppingCard-top-border);
  border-bottom-left-radius: var(--shoppingCard-top-border);
  background: var(--shoppingCard-top-background);
}

.shoppingCart-left-text {
  margin-left: 4vw;
  color: var(--shoppingCard-top-left-from-color);
}

.shoppingCart-right-text {
  position: absolute;
  right: 0;
  margin-right: 4vw;
  color: var(--shoppingCard-top-right-from-color);
}
