.shoppingCart-top-levelOne {
  z-index: 10;
  position: sticky;
  top: 0px;
}

.shoppingCart-top-leveltwo {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 8vh;
  box-shadow: var(--box-shadow--l1);
  border-bottom-right-radius: var(--radius--min);
  border-bottom-left-radius: var(--radius--min);
  background: var(--color--background);
}

.shoppingCart-left-text {
  margin-left: 4vw;
  color: var(--text-color--gray);
}

.shoppingCart-right-text {
  position: absolute;
  right: 0;
  margin-right: 4vw;
  color: var(--color--main);
}
