.cube {
  display: flex;
  width: 100%;
  height: 7vh;
  align-items: center;
  flex-direction: row;
  position: relative;
  margin-bottom: 1.5vh;
  box-shadow: var(--shadow);
  border-bottom-right-radius: var(--card-border);
  border-bottom-left-radius: var(--card-border);
  background: var(--card-bg-color);
}

.sticky {
  z-index: 40;
  position: sticky;
  top: 0px;
}

.hint {
  margin-left: 2vw;
  font-size: 25px;
  color: var(--highlight-color);
}

.textright {
  position: absolute;
  right: 0;
  margin-right: 4vw;
  font-size: 27.5px;
  color: var(--highlight-color);
}
