.radioList {

    border:1px solid #a39898;
    background-color: white;
    height: 6vh;
    text-align: left;
    font-size: 30px;
}
.goodscar {
    background-color:#4CAF50;
    color: black;
    text-align: center;
    display:inline-block;
    font-size: 30px;
    width: 50%;
}
.confirm {
    display: flex;
    align-items: center;
    background-color:  #d60e1f;
    text-align: center;
    display:inline-block;
    font-size: 30px;
    width: 50%;
}
.textService {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-left: 2vw;
    width: 8vw;
}
.imageFruit {
    margin-top: 2vh;
    margin-left: 3vw;
}
.imageFree {
    margin-top: 2vh;
    margin-left: 3vw;
}
.imageSevenDays {
    margin-top: 2vh;
    margin-left: 3vw;
}
.serviceList {
    display: flex;
    flex-direction: row;
    border:1px solid #a39898;
    background-color: white;
    height: 6vh;
    text-align: left;
}
.serviceDetail {
    display: flex;
    align-items: center;
    font-size: 25px;
}
