.radioList {
    height: 6vh;
    text-align: left;
    font-size: 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.084);
}

.goodscar {
    margin-top: 3vh;
    padding-top: 1vh;
    background-color:#ffd149;
    color: white;
    text-align: center;
    display:inline-block;
    font-size: 30px;
    width: 50%;
    height: 6vh;
    border-radius: 50px;
}

.confirm {
    margin-top: 2vh;
    padding-top: 1vh;
    background-color:  #ff5959;
    color: white;
    text-align: center;
    display:inline-block;
    font-size: 30px;
    width: 50%;
    height: 6vh;
    border-radius: 50px;
}

.textService {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-left: 2vw;
    width: 8vw;
}

.imageFruit {
    margin-left: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.imageFree {
    margin-left: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.imageSevenDays {
    margin-left: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.serviceList {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: row;
    background-color: white;
    height: 6vh;
    margin-left: -7vw;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.084);
}

.serviceDetail {
    margin-left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;     
    font-size: 25px;
}

.at-Floatlayout {
    z-index: 200;
    height: 500px;
}

.kindTitle {
    margin-top: 2vh;
    margin-left: 2vw;
}

.skudetail {
    margin-top: 2vh;
    margin-left: 9vw;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-row-gap: 2vh;
}

.skuButton {
    width: 15vw;
    border-radius: 50px;

}

.floatlayoutHeight {
    height: 100vh;
}

.number {
    margin-top: 4vh;
    margin-left: 2vw;
}

.numberChange {
    display: flex;
    flex-direction: row;
}

.numberLocation {
    margin-top: 3vh;
    margin-left: 62vw;
}