.detailSpecification {
    height: 35vh;
    text-align: left;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.094);
}

.goodsSpecification {
    font-size: 5vw;
    margin-top: 2vh;
    margin-left: 4vw;
    height: 6vh;
    display: flex;
    align-items: center;
}

.goodsDetaiInfo {
    margin-left: 5vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
}

.specificationTitle {
    padding-top: 3vh;
}

.vertical {
    margin-top: 5vw;
    margin-right: 4vw;
}

.specificinfo {
    margin-left: 15vw;
}

.infoId {
    margin-left: 19vw;
}

.infoDays {
    margin-left: 4vw;
}

.infotemperature {
    margin-left: 23vw;
}