.detailSpecification {
    height: 30vh;
    text-align: left;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.094);
}

.goodsSpecification {
    font-size: 5vw;
    margin-top: 2vh;
    margin-left: 4vw;
    height: 20%;
    display: flex;
    align-items: center;
}

.goodsDetaiInfo {
    margin-left: 4vw;
}

.specificationTitle {
    padding-top: 3vh;
}

.vertical {
    margin-top: 5vw;
    margin-right: 4vw;
}