page {
    background-color: var(--color--background);
}

.title {
    margin-top: 2vh;
    margin-left: 4vw;
    font-size: var(--text--max);
}

.time {
    color: var(--text-color--gray);
    margin-top: 1vh;
    margin-left: 4vw;
}

.images {
    margin-top: 3vh;
}

.intro {
    text-indent: 2em;
    margin-top: 3vh;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vh;
}
