#tabs-bar {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color--background);
  position: sticky;
  top: -0.1vh;
  height: 7.2vh;
  box-shadow: var(--box-shadow--l1);
  z-index: 100;
}

.select {
  display: flex;
  flex-flow: column;
  color: var(--color--main);
  height: 100%;
  white-space: nowrap;
  justify-content: space-around;
  align-items: center;
}

.unSelect {
  color: var(--text-color--gray);
  height: 100%;
  white-space: nowrap;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}


#underscore {
  background-color: var(--color--main);
  height: 0.36vh;
  width: 88%;
  border-radius: 100px;
  justify-self: center
}
