.order-card {
  display: flex;
  flex-flow: column;
  box-shadow: var(--box-shadow--l1);
  border-radius: var(--radius);
  background-color: var(--color--background);
  margin: 2vw;
  width: 96%;
}

#card-head {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-weight: var(--font-weight--coarse);
}

#card-content {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  display: flex;
  flex-flow: column;
}

#goods-info {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 16vh;
}

#goods-title-specs {
  display: flex;
  flex-flow: column;
}

#goods-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: var(--font-weight--coarse);
  font-size: var(--text--h1);
}

#goods-specs {
  color: var(--text-color--gray);
  margin-top: 4vh;
}

#goods-info-image {
  border-radius: var(--radius--mini);
  margin-right: 4vw;
}

#total {
  display: flex;
  flex-flow: row-reverse;
  margin-top: 1vh;
  /* font-weight: var(--font-weight); */
}

#card-foot {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
}

#payment-time {
  color: var(--text-color--gray);
  align-items: center;
  line-height: 5vh;
}

#card-buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  font-size: var(--text--h1);
}

.card-button {
  margin-left: 4vw;
  color: var(--text-color--white);
  font-size: var(--text--h1);
}

.cu-tag {
  z-index: 10;
}