#root {
  margin-top: -0.001px;
}

#banner {
  border-radius: var(--radius--b-big);
  box-shadow: var(--box-shadow--l1);
  margin-bottom: 2.8vw;
}

#goods {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}