#root {
  margin-top: -0.001px;
}

#banner {
  border-radius: var(--posters-border-radius);
  box-shadow: var(--posters-shadow);
  margin-bottom: 2.8vw;
}

#goods {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: var(--shadow);
  border-radius: var(--card-border-radius);
  background-color: var(--card-bg-color);
}
