.shoppingCart-counter-levelOne {
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.shoppingCart-counter-input {
  text-align: center;
  width: 8vw;
  color: var(--shoppingCart-counter-input-number-color);
}

.shoppingCart-counter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 7vw;
  background-color: var(--color--background);
  color: var(--shoppingCart-counter-button-text-color);
  border: 2px solid var(--shoppingCart-counter-button-border-color);
}
