.shoppingCart-counter-levelOne {
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.shoppingCart-counter-input {
  text-align: center;
  width: 10vw;
  color: var(--shoppingCart-counter-input-number-color);
}

.shoppingCart-counter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 7vw;
  border-radius: var(--shoppingCart-counter-border-radius);
  background-color: var(--shoppingCart-counter-button-background);
  color: var(--shoppingCart-counter-button-text-color);
  border: 3px solid var(--shoppingCart-counter-button-border-color);
}
