.card {
  box-shadow: var(--box-shadow--l1);
}

.at-avatar {
  height: 12vh;
  width: 12vh;
  margin-bottom: 1vh;
}

#body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;
}

#name-card {
  background-color: var(--color--main);
  border-radius: 0 0 72px 72px;
  height: 28vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#name {
  color: var(--text-color--white);
  font-size: var(--text-h1);
  margin-bottom: 1vh;
}

#content {
  margin-top: -4vh;
  width: 100%;
  flex: 1;
  display: flex;
  flex-flow: column;
}

#activity {
  height: 32vh;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 2vh;
  margin-left: 4vw;
  margin-right: 4vw;
}

.technical-support {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
  justify-self: end;
  color: var(--text-color--gray);
  font-size: var(--text--info);
}
