.index {
    overflow:visible;
}

.priceAndShare {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-items: right;
}

.infoPrice {
    color: var(--highlight-color);
    font-size: 52px;
}

/* .imageShare {
    margin-top: 1vh;
    margin-left: 75vw;
} */

.goodsintroduction {
    padding-left: 20px;
    background-color: white;
    font-size: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #212121 100%;
}

.detailAfterSales {
    height: 35vh;
    text-align: left;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.094);
}

.afterSales {
    font-size: 5vw;
    height: 6vh;
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-left: 4vw;
}

.afterSalesText {
    margin-top: 2vh;
    margin-left: 4vw;
}

.afterSalesTitle {
    padding-top: 3vh;
}

.buttonShare {
    margin-left: 73vw;
    height: 4vh;
    width: 12vw;
    background-color: white;
}

.buttonShare::after{
    border: none;
  } 