.align {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  right: 0;
}

.footer {
  width: 100vw;
  height: 7vh;
  position: fixed;
  bottom: 0;
  background: white;
}

.margin {
  margin-left: 1rem;
  margin-right: 0.375rem;
}

.red {
  color: red;
}

.number {
  font-size: 1.5rem;
}

.selectall {
  --tw-text-opacity: 1;
  font-size: 0.875rem;
  font: tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
  font-weight: 500;
}

.bottom {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 20vw;
  font-size: 1rem;
}

.unselected {
  width: 45px;
  height: 45px;
  background: #ffffff;
  border: solid;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: #cfcfcf;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.selected {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  position: relative;
  background: #ff4949;
  background-image: url("./check.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75%;
}
