.align {
  z-index: 20;
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  right: 0;
}

.footer {
  width: 100vw;
  height: 8.5vh;
  position: fixed;
  bottom: 0;
  background: var(--card-bg-color);
}

.margin {
  margin-left: 4vw;
  margin-right: 1.5vw;
}

.at-article__h2-margin {
  margin: 0;
}

.money {
  color: var(--highlight-color);
  font-size: var(--ShoppingCard-string-font-size);
}

.number {
  color: var(--highlight-color);
  font-size: var(--ShoppingCard-number-font-size);
}

.bottom {
  margin-left: 2.5vw;
  margin-right: 2vw;
  width: 24vw;
  font-size: var(--ShoppingCard-string-font-size);
}

.unselected {
  width: 45px;
  height: 45px;
  background: var(--card-bg-color);
  border: solid;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: var(--card-border-color);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.selected {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  position: relative;
  background: var(--highlight-color);
  background-image: url('./check.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75%;
}
