.shoppingCart-settlement-levelOne {
  z-index: 20;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 8.5vh;
  position: fixed;
  bottom: 0;
  background: var(--shoppingCard-settlement-background);
}

.shoppingCart-settlement-levelTwo {
  display: flex;
  position: absolute;
  right: 0;
}

.shoppingCart-settlement-total {
  display: flex;
  align-items: center;
}

.shoppingCart-settlement-money {
  color: var(--shoppingCard-settlement-text-color);
}

.shoppingCart-settlement-number {
  color: var(--shoppingCard-settlement-text-color);
}

.shoppingCart-settlement-button {
  margin-left: 2.5vw;
  margin-right: 2vw;
  width: 24vw;
  color: var(--shoppingCard-settlement-button-color);
  font-size: var(--text-h1);
  background-color: var(--color--main);
}

.shoppingCart-settlement-circle-margin {
  margin-left: 4vw;
  margin-right: 1.5vw;
}

.unselected {
  width: 45px;
  height: 45px;
  background: var(--shoppingCart-card-circle-unselect);
  border: solid;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: var(--shoppingCart-card-circle-border-color);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.selected {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: var(--shoppingCart-card-circle-select);
  background-image: url('../../../src/asset/images/icon/check.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75%;
}
