.bottom {
    position: absolute;
    position: sticky;
    bottom: 0px; 
    display: flex; 
    flex-direction: row;
    padding-bottom: 3vh;
    background-color:whitesmoke;
} 
.bottomLeft {   
    display: flex;
    flex-direction: column; 
    margin-left: 1vw;
    margin-top: 2vh;
    height: 80%;
    border: none;
}
.bottonLeft {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: space-between;
}
 
.bottombuttonCar {
    display: flex;
    margin-top: 2vh;
    margin-left: 4vw;
    background-color: #e4ff49;
    padding-top: 1vh;
    font-size: 28px;
    border-radius: 40px;
    height: 80%;

}
.bottombuttonTobuy {
    display: flex;
    margin-top: 2vh;
    margin-left: 3vw;
    background-color: #e95955;
    padding-top: 1vh;
    font-size: 28px;
    border-radius: 40px;
    height: 80%;
}
.bottomRight {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
}
.imageHome {
    margin-left: 0vw;
}
.imageService {
    margin-left: 0vw;
}
.imageGoodscar {
    margin-left: 0vw;
}