.bottom {
  position: sticky;
  bottom: 0px;
  display: flex;
  height: 8vh;
  flex-direction: row;
  background-color: white;
  z-index: 100;
  border-top: 3px solid var(--card-border-color);
}

.bottomLeftHome {
  display: flex;
  flex-direction: column;
  height: 6vh;
  margin-top: 1vh;
  margin-bottom: -1vh;
  margin-left: 1vw;
  width: 12vw;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3vh;
  border: none;
  background-color: white;
}

.bottomLeftService {
  display: flex;
  flex-direction: column;
  height: 6vh;
  width: 12vw;
  margin-top: 1vh;
  margin-bottom: -1vh;
  margin-left: -20vw;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3vh;
  border: none;
  background-color: white;
}

.bottomLeftGoodscar {
  display: flex;
  flex-direction: column;
  height: 6vh;
  margin-top: 1vh;
  margin-bottom: -1vh;
  margin-left: -20vw;
  width: 12vw;
  justify-content: space-between;
  padding-bottom: 3vh;
  border: none;
  background-color: white;
}

.bottonLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottombuttonCar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: -1vh;
  background-color: #ffd149;
  color: white;
  font-size: 28px;
  border-radius: var(--detail-border-radius);
  height: 6vh;
  margin-left: -20vw;
  width: 50vw;
  border: none;
}

.bottombuttonTobuy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: -1vh;
  margin-left: 1vw;
  background-color: var(--highlight-color);
  color: white;
  font-size: 28px;
  border-radius: var(--detail-border-radius);
  height: 6vh;
  width: 50vw;
  border: none;
}

.bottomRight {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 1vh;
  width: 40vw;
}

.detailHome {
  margin-bottom: 1vh;
  font-size: 2vh;
  white-space: nowrap;
}

.detailService {
  margin-bottom: 1vh;
  font-size: 2vh;
  white-space: nowrap;
}

.detailGoodscar {
  margin-bottom: 1vh;
  font-size: 2vh;
  white-space: nowrap;
}
