page {
    background-color: #f4f4f4;

    --highlight-color:#ff4949;
    --unselect-color:#434343;

    --posters-shadow: 0 2px 4px 0 rgba(105, 105, 105, 0.084);
    --shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.084);

    /* card */
    --posters-border-radius: 0 0 100px 100px;

    --card-bg-color: #FFFFFF;
    --card-border-radius: 20px 20px 20px 20px;
    --cardImage-border-radius: 20px 20px 0px 0px;

    /* font */
    --highlight-font-color: var(--highlight-color);
    --unselect-font-color: var(--unselect-color);

    --highlight-font-size: 14pt;
    --highlight-font-weight: 600;

    /* tag */
    --tag-radius: 10px;
}
