page {
  background-color: #f4f4f4;
  font-size: 1rem;
  font-family: SimHei;

  /* page gray */
  filter: grayscale(0%);

  /* color */
  --color--main: #FF4949;
  --color--background: #FFFFFF;
  --color--subordinate: #FFD149;

  --text-color--black: #000000;
  --text-color--white: #FFFFFF;
  --text-color--gray: #BFBFBF;

  --state--unselect: #BFBFBF;
  --state--succeed: #1EB268;
  --state--special: #686BBC;

  /* size */
  --text--h1: 1.2rem;
  --text--p: 1rem;

  /* border */
  /* border-width */
  --border--width: 1px;

  /* border-radius */
  --radius: 40px 40px 40px 40px;
  --radius--t: 0 0 20px 20px;
  --radius--b: 20px 20px 0 0;
  --radius--min: 20px 20px 20px 20px;
  --radius--min--t: 20px 20px 0 0;
  --radius--min--b: 0 0 20px 20px;
  --radius--b-big: 0 0 100px 100px;

  /* box-shadow */
  --box-shadow--l1: 1px 2px 2px 1px #E6E6E6;




  --highlight-color: #ff4949;
  --unselect-color: #434343;
  --confing-color: #f7f7f7;

  --posters-shadow: 1px 2px 2px 1px #E6E6E6;
  --shadow: 1px 2px 2px 1px #E6E6E6;


  /* icon */
  --icon-gray: #d9d9d9;

  /* card */
  --posters-border-radius: 0 0 100px 100px;

  --card-bg-color: #ffffff;
  --card-border-color: #d9d9d9;
  --card-border: 20px;
  --card-border-radius: 20px 20px 20px 20px;
  --cardImage-border-radius: 20px 20px 0px 0px;
  --shoppingCard-string-font-size: 1rem;
  --shoppingCard-number-font-size: 1.5rem;

  /* font */
  --highlight-font-color: var(--highlight-color);
  --unselect-font-color: var(--unselect-color);

  --highlight-font-size: 12pt;
  --highlight-font-weight: 500;

  --order-state-font-size: 14pt;
  /* tag */
  --tag-radius: 10px;

  /* detail */
  --detail-border-radius: 50px;
  --detail-addcar-color:#ffd149;

  /* ShoppingCart */
  --ShoppingCard-null-font-h1-color: #777777;
  --ShoppingCard-null-font-h2-color: #989898;

  --shoppingCard-top-z-index: 10;
  --shoppingCard-top-height: 8vh;
  --shoppingCard-top-box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shoppingCard-top-border: var(--card-border);
  --shoppingCard-top-background: var(--card-bg-color);
  --shoppingCard-top-left-from-color: var(--card-border-color);
  --shoppingCard-top-right-from-color: var(--highlight-color);

  --shoppingCard-card-border-radius: var(--card-border-radius);
  --shoppingCard-card-box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shoppingCart-card-confing-color: var(--card-border-color);
  --shoppingCard-card-background: var(--card-bg-color);
  --shoppingCart-card-Image-border: var(--card-border-radius);
  --shoppingCart-card-number-color: var(--highlight-color);
  --shoppingCart-card-circle-select: var(--highlight-color);
  --shoppingCart-card-circle-unselect: var(--card-bg-color);
  --shoppingCart-card-circle-border-color: var(--card-border-color);

  --shoppingCart-counter-button-background: var(--card-bg-color);
  --shoppingCart-counter-button-border-color: var(--highlight-color);
  --shoppingCart-counter-button-text-color: var(--highlight-color);
  --shoppingCart-counter-input-number-color: var(--highlight-color);

  --shoppingCard-settlement-background: var(--card-bg-color);
  --shoppingCard-settlement-text-color: var(--highlight-color);
  --shoppingCard-settlement-button-color: var(--card-bg-color);
  --shoppingCard-settlement-button-font-size: ;
  --shoppingCard-settlement-button-background: var(--highlight-color);
}
