page {
  background-color: #f4f4f4;
  font-family: SimHei;

  --highlight-color: #ff4949;
  --unselect-color: #434343;
  --confing-color: #f7f7f7;

  --posters-shadow: 0 2px 4px 0 rgba(105, 105, 105, 0.084);
  --shadow: 0 4px 6px 0 rgba(17, 17, 17, 0.04);

  /* card */
  --posters-border-radius: 0 0 100px 100px;

  --card-bg-color: #ffffff;
  --card-border-color: #bfbfbf;
  --card-border: 20px;
  --card-border-radius: 20px 20px 20px 20px;
  --cardImage-border-radius: 20px 20px 0px 0px;
  --shoppingCard-string-font-size: 1rem;
  --shoppingCard-number-font-size: 1.5rem;

  /* font */
  --highlight-font-color: var(--highlight-color);
  --unselect-font-color: var(--unselect-color);

  --highlight-font-size: 12pt;
  --highlight-font-weight: 500;

  --order-state-font-size: 14pt;
  /* tag */
  --tag-radius: 10px;

  /* detail */
  --detail-border-radius: 50px;
}
