.detailAfterSales {
    height: 28vh;
    text-align: left;
    margin-top: 3vh;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.094);
}
.afterSales {
    font-size: 35px;
    margin-top: 3vh;
    margin-left: 4vw;
}
.afterSalesText {
    margin-left: 4vw;
}
.afterSalesTitle {
    padding-top: 3vh;
}