.shoppingCart-card-levelOne {
  width: 94.4vw;
  height: 26vh;
  margin: 2vw 2.8vw 2vw 2.8vw;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--shoppingCard-card-border-radius);
  box-shadow: var(--shoppingCard-card-box-shadow);
  background: var(--shoppingCard-card-background);
}

.shoppingCart-card-frameleft {
  width: 14vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoppingCart-card-align {
  display: flex;
  align-items: center;
}

.shoppingCart-card-cardImage {
  width: 20vh;
  height: 20vh;
  border-radius: var(--shoppingCart-card-Image-border);
}

.shoppingCart-card-frameright {
  width: 62vw;
  height: 20vh;
  margin-left: 2vw;
  display: flex;
  position: relative;
  flex-direction: column;
}

.shoppingCart-card-title {
  width: 45vw;
  margin-top: 0.5vh;
  margin-bottom: 2vh;
}

.shoppingCart-card-confing {
  color: var(--shoppingCart-card-confing-color);
}

.shoppingCart-card-down {
  bottom: 0;
  left: 0;
}

.shoppingCart-card-rightBottom {
  display: flex;
}

.shoppingCart-card-absolute {
  position: absolute;
}

.shoppingCart-card-relative {
  position: relative;
}

.shoppingCart-card-money {
  color: var(--shoppingCart-card-number-color);
}

.shoppingCart-card-number {
  color: var(--shoppingCart-card-number-color);
}

.shoppingCart-card-counter {
  margin-right: 2vw;
  right: 0;
  bottom: 0;
}

.unselected {
  width: 45px;
  height: 45px;
  background: var(--shoppingCart-card-circle-unselect);
  border: solid;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: var(--shoppingCart-card-circle-border-color);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.selected {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: var(--shoppingCart-card-circle-select);
  background-image: url('../../../src/asset/images/icon/check.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75%;
}
