.outmost {
  width: 98vw;
  height: 20vh;
  margin: 1vw;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 20px;
  background: white;
}

.frameleft {
  width: 14vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.align {
  display: flex;
  align-items: center;
}

.cardImage {
  width: 18vh;
  height: 18vh;
  border-radius: 0.5rem;
}

.frameright {
  width: 66vw;
  height: 18vh;
  margin-left: 0.675rem;
  display: flex;
  position: relative;
  flex-direction: column;
}

.at-article__h2 {
  margin-top: 1vh;
  margin-bottom: 1.5vh;
  margin-left: 0;
  margin-right: 0;
}
.confing {
  display: flex;
}

.standard {
  display: flex;
  background: #f5f5f5;
}

.at-article__p {
  margin: 0.8vw;
  justify-content: center;
  align-items: center;
}

.down {
  bottom: 0.25vw;
  left: 0rem;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.money {
  color: red;
  font-size: 1rem;
}

.number {
  color: red;
  font-size: 1.5rem;
}

.counter {
  margin-right: 2vw;
  right: 0;
  bottom: 1vw;
}

.unselected {
  width: 45px;
  height: 45px;
  background: #ffffff;
  border: solid;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: #cfcfcf;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.invalidation {
  width: 45px;
  height: 45px;
  background: #f1f1f1;
  border: solid;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(156, 163, 175, var(--tw-border-opacity));
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.selected {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: #ff4949;
  background-image: url('./check.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75%;
}
