.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.justify {
  display: flex;
  justify-content: center;
}

.align {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.frame {
  width: 100vw;
  height: 20vh;
  background: #ffffff;
  margin-right: 1px;
}

.frameleft {
  width: 14vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  width: 18vh;
  height: 18vh;
  border-radius: 0.5rem;
}

.actionCardImage {
  width: 15vh;
  height: 15vh;
  margin: 0.75rem;
}

.frameright {
  width: 66vw;
  height: 18vh;
  margin-left: 0.675rem;
}

.producttitle {
  width: 50vw;
  --tw-text-opacity: 1;
  font-size: 2.2vh;
  font: tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
  font-weight: 500;
  margin-bottom: 0.5rem;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.standard {
  width: auto;
  padding: 0.175rem 0.5rem 0.175rem 0.5rem;
  display: inline-block;
  background: #f5f5f5;
}

.standardtext {
  vertical-align: baseline;
  font-size: 2vh;
}

.money {
  color: red;
  font-size: 1rem;
}

.number {
  color: red;
  font-size: 1.5rem;
}

.down {
  bottom: -0.375rem;
  left: 0rem;
}

.counter {
  margin-right: 0.375rem;
  right: 0;
  bottom: 0.3rem;
}

.action {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  overflow: hidden;
}

.actionBottom {
  display: flex;
  flex-direction: column-reverse;
}

/* ---------------------------------------------------------------- */

.unselected {
  width: 45px;
  height: 45px;
  background: #ffffff;
  border: solid;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: #cfcfcf;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.invalidation {
  width: 45px;
  height: 45px;
  background: #f1f1f1;
  border: solid;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(156, 163, 175, var(--tw-border-opacity));
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.selected {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: #ff4949;
  background-image: url("./check.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75%;
}
