.goods-image {
  height: 46vw;
  border-radius: var(--radius--mini--t);
}

.focus-card {
  display: flex;
  flex-flow: column;
  width: 94vw;
  margin-bottom: 1.4vh;
}

.goods-card {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 46vw;
  margin-bottom: 1.4vh;
  margin-left: 1.4vw;
  margin-right: 1.4vw;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  padding-top: 1.4vh;
  padding-bottom: 1.4vh;
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: var(--text--h1);
}

#goods-info-text {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
}

.price {
  color: var(--color--main);
  font-weight: var(--font-weight--coarse);
  font-size: var(--text--h1);
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 1.2vh;
}

.cny {
  font-weight: var(--font-weight--coarse);
  font-size: var(--text--h1);
  color: var(--color--main);
  margin-bottom: 1.2vh;
}

#prices {
  display: flex;
  flex-flow: row;
  margin-left: 2vw;
}

.at-tag {
  display: flex;
  flex-shrink: inherit;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius--mini);
  color: var(--color--main);
  border-width: 2px;
  margin-right: 2vw;
}

.card {
  box-shadow: var(--box-shadow--l1);
  border-radius: var(--radius--mini);
  background-color: var(--color--background);
}
