.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.055), 0 2px 4px 0 rgba(0, 0, 0, 0.027);
  border-radius: 20px 20px 20px 20px;
  background-color: white;
}

.cardImage {
  height: 44vw;
  border-radius: 20px 20px 0px 0px;
}

.focusImage {
  height: 80%;
  border-radius: 20px 20px 0px 0px;
}

.focusCard {
  display: flex;
  flex-flow: column;
  height: 62vw;
  width: 92vw;
  margin-bottom: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.focusInfo {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: -0.2vh;
  width: 100%;
  margin-bottom: 0.8vh;
}

.goodsCard {
  display: flex;
  flex-flow: column;
  width: 44vw;
  margin-bottom: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.focusTitle {
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 1vh;
}

.cardTitle {
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

#focusInfoText {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#goodsInfoText {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 0.8vh;
}

.price {
  color: #ff4949;
  font-weight: bold;
  font-size: 3.2vh;
}

.cny {
  font-weight: 800;
  font-size: 2vh;
  color: #ff4949;
  margin-right: -1.4vh;
}

#price {
  display: flex;
  flex-flow: row;
}

.shoping-cart-icon {
  align-items: flex-end;
  margin-right: 2vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
