.detailIntroduce {
    margin-top: 2vh;
    text-align: left;
    background-color: var(--card-bg-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.094);
}

.goodsIntroduce {
    font-size: 14pt;
    margin-left: 4vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-items: center;
}

.introduceTitle {
    padding-top: 3vh;
}

.vertical {
    margin-top: 5vw;
    margin-right: 4vw;
}

.introImage {
    font-size: 0;
}