.main-intro {
    margin-top: 2vh;
    text-align: left;
    background-color: var(--color--background);
    box-shadow:var(--box-shadow--l1);
}

.container-intro {
    font-size: var(--text--h1);
    margin-left: 4vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-items: center;
}

.container-intro-title {
    padding-top: 3vh;
    font-size: var(--text--h1);
}

.container-intro-image {
    margin-right: 4vw;
}

.container-banner {
    font-size: 0;
}

.intro-divider {
    margin-bottom: 0.5vh;
    height: 0vh;
}