.detailIntroduce {
    height: 390vh;
    text-align: left;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.094);
}

.goodsIntroduce {
    font-size: 5vw;
    margin-top: 2vh;
    margin-left: 4vw;
    height: 6vh;
    display: flex;
    align-items: center;
}

.introduceTitle {
    padding-top: 3vh;
}

.vertical {
    margin-top: 5vw;
    margin-right: 4vw;
}